<!DOCTYPE html>  
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{static_path}}plugins/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{static_path}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{static_path}}plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!--me -->
     <link href="{{static_path}}plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />  
    <!-- Footable CSS -->
    <link href="{{static_path}}plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="{{static_path}}plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="{{static_path}}plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <!-- animation CSS -->
    <link href="{{static_path}}css/animate.css" rel="stylesheet">
    <!-- Wizard CSS -->
    <link href="{{static_path}}plugins/bower_components/register-steps/steps.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{static_path}}css/style.css" rel="stylesheet">

    <!-- color CSS -->
    <link href="{{static_path}}css/colors/default.css" id="theme"  rel="stylesheet">
    <style type="text/css">
      .tal{
        text-align: left;
      }
      #s2id_autogen2
      {
        border:0;
        margin-bottom:0px;

      }
      /*setting alert notification time*/
      .sun_sat
      {
      padding:7px 13px;
      color:#999999;
      background-color: rgba(228, 228, 228, 1);
      border-radius: 2px;
      }
      .week_days
      {
        /*background-color: rgba(51, 51, 51, 1);
        border: none;
        border-radius: 2px;
        color:#fff;*/
        color:#999999;
        background-color: rgba(228, 228, 228, 1);
        border-radius: 2px;
        padding:7px 13px;
      }
      .selected_day
      {
        background-color: rgba(51, 51, 51, 1);
        border: none;
        border-radius: 2px;
        color:#fff;
        padding:7px 13px;
      }
      .selected_day_1
      {
        background-color: rgba(51, 51, 51, 1);
        border: none;
        border-radius: 2px;
        color:#fff;
        padding:7px 13px;
      }
      .selected_day_2
      {
        background-color: rgba(51, 51, 51, 1);
        border: none;
        border-radius: 2px;
        color:#fff;
        padding:7px 13px;
      }
      /*end alert time*/
      .margin_r_10
      {
        margin-right: 10px;
      }
      .btn_black
      {
        background-color: black;
        color:#fff;
        border-radius:0px;
        padding:2px 5px;
        border-radius:2px;
      }
      .btn_black:hover
      {
        background-color: black;
        color:#fff;
      }
      .am_pm_btn_css
      {
        padding:7px 10px;
        border:none;
        font-size: 12px;
      }
      /*fun region button*/
    .active_btn{
        background: inherit;
        background-color: rgba(51, 51, 51, 1);
        border: none;
        border-radius: 2px;
        color:#fff;
        font-size: 12px;
    }
    .non_active_btn
    {
        background: inherit;
        background-color: #e4e4e4;
        border: none;
        border-radius: 2px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: #999999;
        font-size: 12px;
    }  
      .expiration {
        border: 1px solid #bbb;
      }
      .expiration input {
          border: 0;
          text-align: center;
          outline: 0; /* remove if you want input highlight */
          padding:0px;
          width: 30%;
      }
    .seasons
    {
      padding:3px 20px;color:#fff;margin-right: 5px;
    }
    .unselseacson
    {
      background-color: #ddd;
    }
    .selseason
    {
      background-color: #000;
    }
    .seasonSelection div
    {
      margin-top:10px;
    }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19175540-9', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="cssload-speeding-wheel"></div>
  </div>
  <section id="wrapper" class="step-register">
    <div class="register-box">
      <div class="">
         <!--<a href="javascript:void(0)" class="text-center db m-b-40"><img src="../plugins/images/eliteadmin-logo-dark.png" alt="Home" /><br/><img src="../plugins/images/eliteadmin-text-dark.png" alt="Home" /></a>-->
        <!-- multistep form -->
          <div id="msform">
          <!-- progressbar -->
          <ul id="eliteregister">
          <li class="active">Set Defaults</li>
          <li>Stage 2</li>
          <li>Stage 3</li>
          </ul>
          <!-- fieldsets -->
          <form id="firstform">
          <h2 class="fs-title">Create your account</h2>
          <h3 class="fs-subtitle">This is step 1</h3>
         
          
          <select name="" id="currency" class="form-control select2" style="margin-bottom: 20px;">
            <option selected="" ">select currency</option>
            <option value="USD">United States Dollars</option>
            <option value="EUR">Euro</option>
            <option value="GBP">United Kingdom Pounds</option>
            <option value="DZD">Algeria Dinars</option>
            <option value="ARP">Argentina Pesos</option>
            <option value="AUD">Australia Dollars</option>
            <option value="ATS">Austria Schillings</option>
            <option value="BSD">Bahamas Dollars</option>
            <option value="BBD">Barbados Dollars</option>
            <option value="BEF">Belgium Francs</option>
            <option value="BMD">Bermuda Dollars</option>
            <option value="BRR">Brazil Real</option>
            <option value="BGL">Bulgaria Lev</option>
            <option value="CAD">Canada Dollars</option>
            <option value="CLP">Chile Pesos</option>
            <option value="CNY">China Yuan Renmimbi</option>
            <option value="CYP">Cyprus Pounds</option>
            <option value="CSK">Czech Republic Koruna</option>
            <option value="DKK">Denmark Kroner</option>
            <option value="NLG">Dutch Guilders</option>
            <option value="XCD">Eastern Caribbean Dollars</option>
            <option value="EGP">Egypt Pounds</option>
            <option value="FJD">Fiji Dollars</option>
            <option value="FIM">Finland Markka</option>
            <option value="FRF">France Francs</option>
            <option value="DEM">Germany Deutsche Marks</option>
            <option value="XAU">Gold Ounces</option>
            <option value="GRD">Greece Drachmas</option>
            <option value="HKD">Hong Kong Dollars</option>
            <option value="HUF">Hungary Forint</option>
            <option value="ISK">Iceland Krona</option>
            <option value="INR">India Rupees</option>
            <option value="IDR">Indonesia Rupiah</option>
            <option value="IEP">Ireland Punt</option>
            <option value="ILS">Israel New Shekels</option>
            <option value="ITL">Italy Lira</option>
            <option value="JMD">Jamaica Dollars</option>
            <option value="JPY">Japan Yen</option>
            <option value="JOD">Jordan Dinar</option>
            <option value="KRW">Korea (South) Won</option>
            <option value="LBP">Lebanon Pounds</option>
            <option value="LUF">Luxembourg Francs</option>
            <option value="MYR">Malaysia Ringgit</option>
            <option value="MXP">Mexico Pesos</option>
            <option value="NLG">Netherlands Guilders</option>
            <option value="NZD">New Zealand Dollars</option>
            <option value="NOK">Norway Kroner</option>
            <option value="PKR">Pakistan Rupees</option>
            <option value="XPD">Palladium Ounces</option>
            <option value="PHP">Philippines Pesos</option>
            <option value="XPT">Platinum Ounces</option>
            <option value="PLZ">Poland Zloty</option>
            <option value="PTE">Portugal Escudo</option>
            <option value="ROL">Romania Leu</option>
            <option value="RUR">Russia Rubles</option>
            <option value="SAR">Saudi Arabia Riyal</option>
            <option value="XAG">Silver Ounces</option>
            <option value="SGD">Singapore Dollars</option>
            <option value="SKK">Slovakia Koruna</option>
            <option value="ZAR">South Africa Rand</option>
            <option value="KRW">South Korea Won</option>
            <option value="ESP">Spain Pesetas</option>
            <option value="XDR">Special Drawing Right (IMF)</option>
            <option value="SDD">Sudan Dinar</option>
            <option value="SEK">Sweden Krona</option>
            <option value="CHF">Switzerland Francs</option>
            <option value="TWD">Taiwan Dollars</option>
            <option value="THB">Thailand Baht</option>
            <option value="TTD">Trinidad and Tobago Dollars</option>
            <option value="TRL">Turkey Lira</option>
            <option value="VEB">Venezuela Bolivar</option>
            <option value="ZMK">Zambia Kwacha</option>
            <option value="EUR">Euro</option>
            <option value="XCD">Eastern Caribbean Dollars</option>
            <option value="XDR">Special Drawing Right (IMF)</option>
            <option value="XAG">Silver Ounces</option>
            <option value="XAU">Gold Ounces</option>
            <option value="XPD">Palladium Ounces</option>
            <option value="XPT">Platinum Ounces</option>
          </select>
       
          <select name="DropDownTimezone" id="timezone" class="form-control select2" style="margin-bottom: 20px;">
            <option selected="" ">select Time zone</option>
            <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
            <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
            <option value="-10.0">(GMT -10:00) Hawaii</option>
            <option value="-9.0">(GMT -9:00) Alaska</option>
            <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
            <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
            <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
            <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
            <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
            <option value="-3.5">(GMT -3:30) Newfoundland</option>
            <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
            <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
            <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
            <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
            <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
            <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
            <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
            <option value="3.5">(GMT +3:30) Tehran</option>
            <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
            <option value="4.5">(GMT +4:30) Kabul</option>
            <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
            <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
            <option value="5.75">(GMT +5:45) Kathmandu</option>
            <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
            <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
            <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
            <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
            <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
            <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
            <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
            <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
          </select>
              
            <div class="form-group" style="margin-bottom: 20px;">
              <div class="col-md-12 tal" id="holes">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="9" type="checkbox" style="width: auto">
                      <label for="9">9</label>
                  </div>
                </div>  
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="18" type="checkbox">
                      <label for="18">18</label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">  
                  <!--<div class="checkbox checkbox-primary p-t-0">
                      <input id="both" type="checkbox">
                      <label for="both">Both</label>
                  </div>-->
                </div>  
              </div>
          </div>

          <select class="select2 m-b-10 select2-multiple" multiple="multiple" data-placeholder="Choose Tea times" required="" id="teatime" style="margin-bottom: 20px;" >
                <option value="1">Tee Time1</option>
                <option value="2">Tee Time2</option>
                <option value="3">Tee Time3</option>
                <option value="4">Tee Time4</option>
                <option value="5">Tee Time5</option>
                <option value="6">Tee Time6</option>
                <option value="7">Tee Time7</option>
                <option value="8">Tee Time8</option>
                <option value="9">Tee Time9</option>
                <option value="10">Tee Time10</option>
                <option value="11">Tee Time11</option>
                <option value="12">Tee Time12</option>
                <option value="13">Tee Time13</option>
                <option value="14">Tee Time14</option>
                <option value="15">Tee Time15</option>
                <option value="16">Tee Time16</option>
                <option value="17">Tee Time17</option>
                <option value="18">Tee Time18</option>
                <option value="19">Tee Time19</option>
                <option value="20">Tee Time20</option>
          </select>

          <div class="form-group" id="rates" style="margin-bottom: 20px;">
             <!-- <div class="col-md-12 tal">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="Member" type="checkbox" style="width: auto">
                      <label for="Member">Member</label>
                  </div>
                </div>  
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="Guest" type="checkbox">
                      <label for="Guest">Member Guest</label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">  
                  <div class="checkbox checkbox-primary p-t-0">
                      <input id="Visitor" type="checkbox">
                      <label for="Visitor">Visitor/Online Rate</label>
                  </div>
                </div>  
              </div>-->
          </div>   
          <select class="form-control select2" required="" id="duration" style="margin-bottom: 20px;">
              <option>Select</option>
              <optgroup label="months">
                  <option value="1">1 Month</option>
                  <option value="2">2 Month</option>
                  <option value="3">3 Month</option>
                  <option value="4">4 Month</option>
                  <option value="5">5 Month</option>
                  <option value="6">6 Month</option>
                  <option value="7">7 Month</option>
                  <option value="8">8 Month</option>
                  <option value="9">9 Month</option>
                  <option value="10">10 Month</option>
                  <option value="11">11 Month</option>
                  <option value="12">12 Month </option>
              </optgroup>
          </select>
          <button type="submit" name="next" class="next_1 action-button" value="Next" id="firstform">Next</button> 
         <!--- <input type="submit" name="submit" class="submit action-button" value="Submit" />-->
          </form>
<form>    
         <!-- .row -->

            
          <div class="row">
            <div class="col-lg-12">
              <div class="white-box">
                <h3 class="box-title m-b-0">Pagination Footable</h3>
                <p class="text-muted m-b-20">Create your table with Paginated Footable </p>

                Select Weekdays
                <div id="weekdays">
                  
                </div>
                Select Weekend
                <div id="weekends">
                  
                </div>

                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                        Closed/Maintenance day
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <label for="yes">Yes</label>
                      <input type="radio" name="leave" id="yes" value="yes" onclick="maintenance()"><br>
                  </div>  
                  <div class="col-sm-4 col-md-4 col-lg-4">  
                      <label for="no">No</label>
                      <input type="radio" name="leave" id="no" value="no" onclick="maintenance()"><br>
                  </div>
                </div> 

               
                <div id="selectleave">
                     Select Day: 
                     
                </div>

                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                        Golf Course is closed:
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <label for="half">Half Day</label>
                      <input type="radio" name="closedregion" id="half" value="half" onclick="halfDay()"><br>
                  </div>  
                  <div class="col-sm-4 col-md-4 col-lg-4">  
                      <label for="full">Full Day</label>
                      <input type="radio" name="closedregion" id="full" value="full" onclick="halfDay()"><br>
                  </div>
                </div>
                <div id="displaywhenhalf">

                </div>   

              </div>
            </div>
          </div>

      <!-- /.row -->
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="next" class="next_2 action-button" value="Next" />
        </form>  
         
         <form class="seasonSelection">
        <!--<h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>-->

        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
              No. of Seasons
           </div> 
          <div class="col-sm-8 col-md-8 col-lg-8"> 
            <table>
                <tr>
                    <td>  
                      <span class="seasons unselseacson season1">
                          1
                      </span> 
                    </td>
                    <td>  
                      <span class="seasons unselseacson season2">
                        2
                      </span> 
                    </td>
                    <td>  
                      <span class="seasons unselseacson season3">
                        3
                      </span> 
                    </td>
                    <td>  
                      <span class="seasons unselseacson season4">
                        4
                      </span> 
                    </td>
                    <td>  
                      <span class="seasons unselseacson season5">
                        5
                      </span> 
                    </td>
                    <td>  
                      <span class="seasons unselseacson season6">
                        6
                      </span> 
                    </td>
                </tr>
            </table>
          </div>    
        </div>  

        <div class="row" id="season1">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  
        <div class="row" id="season2">
           <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  
        <div class="row" id="season3">
             <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  
        <div class="row" id="season4">
             <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  
        <div class="row" id="season5">
             <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  
        <div class="row" id="season6">
             <div class="col-sm-5 col-md-5 col-lg-5">
                <select>
                  <option>
                    select
                  </option>
                </select>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                  <!--<span>/</span>
                  <input type="text" name="year" placeholder="MM" maxlength="2" size="2" required="true" style="width:45px;padding:0px;" />-->
                </span>
                 To
                <span class="expiration">
                  <input type="date" name="month" placeholder="DD" maxlength="2" size="2" required="true" style="width:115px;padding:0px;" />
                </span>
            </div>
        </div>  


        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
         </form>
          </div>
          <div class="clear"></div>
      </div>
    </div>
  </section>
    <!-- jQuery -->
    <script src="{{static_path}}plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{static_path}}bootstrap/dist/js/tether.min.js"></script>
    <script src="{{static_path}}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{static_path}}plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{static_path}}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <script src="{{static_path}}plugins/bower_components/register-steps/jquery.easing.min.js"></script>
    <script src="{{static_path}}plugins/bower_components/register-steps/register-init.js"></script>
    <!-- Footable -->
    <script src="{{static_path}}plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="{{static_path}}plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="{{static_path}}js/footable-init.js"></script>
    <script src="{{static_path}}plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>  
    <script type="text/javascript" src="{{static_path}}plugins/bower_components/multiselect/js/jquery.multi-select.js"></script>
           <script>
 
      $(document).ready(function() { 
         $('.action-button').click(function (e) {
               e.preventDefault(); //prevents re-size from happening before tab shown
               $('.footable').trigger('footable_resize'); //fire re-size of footable
               
          });

          var days=['Sun','Mon','Tues','Wed','Thu','Fri','Sat'];
          var days_read=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          var options_end = { value1 : '01:00',value11 : '01:15',value2 : '01:30',value21 : '01:45',value3 : '02:00',
                    value31 : '02:15',value4 : '02:30',value41 : '02:45',value5 : '03:00',value51 : '03:15',value6 : '03:30',value61 : '03:45',
                    value7 : '04:00',value71 : '04:15',value8 : '04:30',value81 : '04:45',value9 : '05:00',
                    value10 : '05:30',value101: '06:00',value111 : '06:15',value12 :'06:30',value121 : '06:45',
                    value13 :'07:00',value131 : '07:15',value14: '07:30',value141 : '07:45',value15: '08:00',value151 : '08:15',value16: '08:30',value161 : '08:45',value17: '09:00',value18: '10:00'};
            var options_start = { value1 : '08:00',value11 : '08:15',value2 : '08:30',value21 : '08:45',value3 : '09:00',value31 : '09:15',
                    value4 : '09:30',value41 : '09:45',value5 : '10:00',value51 : '10:15',value6 : '10:30',value61 : '10:45',
                    value7 : '11:00',value71 : '11:15',value8 : '11:30',value81 : '11:45',value81 : '11:45',value9 : '12:00'};
            
             
          //select day and time 
          var row_5=document.createElement('div');
          $(row_5).addClass('row ');
          $(row_5).css('margin-top','10px');
          var div_1=document.createElement('div');
          $(div_1).addClass('');
          var week=document.createElement('div'); 
          $(week).css('height','40px');
          $(week).addClass('row font_family padding_l_30');

          for(var day=0;day<days.length;day++)
          {
              var sun=document.createElement('sapn');
              $(sun).addClass('sun_sat font_size_12 margin_r_10 cursor_pointer notify_time');
              $(sun).data('day',days_read[day]);

              $(sun).html(days[day]);
              $(week).append(sun);
          }
          $(div_1).append(week);
          
          $(row_5).append(div_1);  
          $('#weekdays').append(row_5);

          var row_6=document.createElement('div');
          $(row_6).addClass('row ');
          $(row_6).css('margin-top','10px');
          var div_1=document.createElement('div');
          $(div_1).addClass('');
          var week=document.createElement('div'); 
          $(week).css('height','40px');
          $(week).addClass('row font_family padding_l_30');

          for(var day=0;day<days.length;day++)
          {
              var sun=document.createElement('sapn');
              $(sun).addClass('sun_sat font_size_12 margin_r_10 cursor_pointer notify_time_1');
              $(sun).data('day',days_read[day]);
              $(sun).html(days[day]);
              $(week).append(sun);
          }
          $(div_1).append(week);
          
          $(row_6).append(div_1); 

          $('#weekends').append(row_6);

          var row_6=document.createElement('div');
          $(row_6).addClass('row ');
          $(row_6).css('margin-top','10px');
          var div_1=document.createElement('div');
          $(div_1).addClass('');
          var week=document.createElement('div'); 
          $(week).css('height','40px');
          $(week).addClass('row font_family padding_l_30');

          for(var day=0;day<days.length;day++)
          {
              var sun=document.createElement('sapn');
              $(sun).addClass('sun_sat font_size_12 margin_r_10 cursor_pointer notify_time_2');
              $(sun).data('day',days_read[day]);
              $(sun).html(days[day]);
              $(week).append(sun);
          }
          $(div_1).append(week);
          
          $(row_6).append(div_1); 

          $('#selectleave').append(row_6);

          $('#selectleave').hide();
           $('#closed').hide(); 


          var weekend_days=[];
          var week_days=[];
          var leave_days=[];

          $('.notify_time').on('click',function(){
            //$(row_6).show();
            week_days=[];
            $(this).toggleClass('selected_day');
            $('.selected_day').each(function(){


                week_days.push($(this).data('day'));
            });
            console.log(week_days);
          });
          $('.notify_time_1').on('click',function(){
            //$(row_6).show();
            weekend_days=[];  
            $(this).toggleClass('selected_day_1');
            $('.selected_day_1').each(function(){
                weekend_days.push($(this).data('day'));
            });
             console.log(weekend_days);
          });

          $('.notify_time_2').on('click',function(){
            //$(row_6).show();
            leave_days=[];  
            $(this).toggleClass('selected_day_2');
            $('.selected_day_2').each(function(){
                leave_days.push($(this).data('day'));
            });
             console.log(weekend_days);
          });

         //$(".select2").select2();
         $(".select2").select2();
            $('.selectpicker').selectpicker();

            // For multiselect

            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });

            $('#public-methods').multiSelect();
            $('#select-all').click(function() {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function() {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function() {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function() {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });
            var host_api='http://52.77.252.230:8000/';
            var base_path='api/v1/';  

             $.ajax({
                type:'get',
                url:host_api+base_path+"forms/defaults",
                contentType:"application/json",
                success:function(data)
                {
                  console.log(data.data.seasons);

                  rates=data.data.rates;
                  console.log(rates);

                  localStorage.setItem('rates',rates);
                  var ratesDiv=document.getElementById('rates')
                  for(var i=0;i<rates.length;i++)
                  {
                    var col=document.createElement('div');
                    $(col).addClass('col-sm-4 col-md-4 col-lg-4');
                      var checkbox=document.createElement('div');
                      $(checkbox).addClass('checkbox checkbox-primary p-t-0');
                        var input=document.createElement('input');
                        $(input).attr('type','checkbox');
                        $(input).attr('id',rates[i]['name']);
                        $(input).attr('data-id',rates[i]['id']);
                        var label=document.createElement('label');
                        $(label).attr('for',rates[i]['name']);
                        $(label).html(rates[i]['name']);
                        
                      $(checkbox).append(input);
                      $(checkbox).append(label);
                    $(col).append(checkbox);
                    ratesDiv.append(col);   
                  }
                },error:function(xhr,status,error)
                {
                  console.log(xhr);
                }
            })
    });
      
      function halfDay() {
         
          if ($('#half').prop("checked")) {
              $('#displaywhenhalf').show('slow');
              
          } 

          if ($('#full').prop("checked")) {
              $('#displaywhenhalf').hide('slow');
             
          }
        
      }
      function maintenance()
      {
          if ($('#yes').prop("checked")) {
              $('#selectleave').show('slow');
              $('#closed').show('slow');
          } 

          if ($('#no').prop("checked")) {
              $('#selectleave').hide('slow');
               $('#closed').hide('slow');
          }
      }

      $('.unselseacson').click(function(){
          //$(this).toggleClass('selseason');
          //$(this).toggleClass('unselseacson');
          $('.selseason').removeClass('selseason');
          console.log(this.innerText);
          var i=this.innerText;

           $('#season1 , #season2 ,#season3, #season4 , #season6,#season5').hide();

          while(i!=0)
          {
            $('#season'+i).show();
            $('.season'+i).addClass('selseason');
            i--;
          }
           

      });
      $('#season1 , #season2 ,#season3, #season4 , #season6,#season5').hide();
    </script>
    <!--slimscroll JavaScript -->
    <script src="{{static_path}}js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{{static_path}}js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{static_path}}js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="{{static_path}}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
  </body>
</html>
